@import url("bootstrap.css");
@import url("normalize.css");
@import url("animation.css");
@import url("https://unpkg.com/aos@next/dist/aos.css");
// Font
@font-face {
    font-family: Poppins-Light;
    src: url(../font/Poppins-Light.ttf);
    font-weight: 100;
}

@font-face {
    font-family: Poppins-Black;
    src: url(../font/Poppins-Black.ttf);
    font-weight: 900;
}

@font-face {
    font-family: RammettoOne-Regular;
    src: url(../font/RammettoOne-Regular.ttf);
    font-weight: 900;
}

@font-face {
    font-family: OoohBaby-Regular;
    src: url(../font/OoohBaby-Regular.ttf);
    font-weight: 900;
}

@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
*::-moz-selection {
    background-color: transparent;
}

*::selection {
    background-color: transparent;
}

// Scrollbar CSS
// Firefox
* {
    scrollbar-width: auto;
    scrollbar-color: #777777 transparent;
}

// Chrome, Edge, and Safari
*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: #fff;
}

*::-webkit-scrollbar-thumb {
    background-color: #777777;
    // border-radius: 10px;
    border: 4px solid #fff;
    cursor: grab;
}

:root {
    --primary: #FFF200;
    --main-font: 'Poppins-Light', Arial, sans-serif;
    --main-font-bold: 'Poppins-Black', Arial, sans-serif;
    --bold-font: 'RammettoOne-Regular', Arial, sans-serif;
    --hand-writing-font: 'OoohBaby-Regular', Arial, sans-serif;
    --text-color: #121212;
    --background-color: #FFFFFF;
    --border-color: #121212;
    --black: #121212;
    --white: #FFFFFF;
    .dark-mode {
        // 
    }
}

body,
html {
    font-size: 18px;
    line-height: 1.66667;
    font-family: var(--main-font);
    box-sizing: border-box;
    width: 100%;
    min-height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    word-wrap: break-word;
    scroll-behavior: smooth;
    overflow-y: auto;
    overflow-x: hidden;
    cursor: none;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    color: var(--text-color);
    background-color: var(--background-color);
    &.defaultCursor {
        .cursor {
            width: 80px;
            height: 80px;
            background-color: #000;
            mix-blend-mode: normal;
            font-size: 12px;
            text-align: center;
            // filter: blur(0px);
            &::before {
                color: #fff;
                position: absolute;
                left: 50%;
                top: 50%;
                -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
            }
        }
        &.caseStudy .cursor::before {
            content: "Case Stydy";
        }
        &.controlPrev .cursor,
        &.controlNext .cursor {
            width: 60px;
            height: 60px;
            border-radius: 0px;
            background-color: var(--primary);
            &::before {
                color: #000;
            }
        }
        &.controlPrev .cursor::before {
            content: "Prev";
        }
        &.controlNext .cursor::before {
            content: "Next";
        }
        &.activeLink .cursor {
            width: 60px;
            height: 60px;
            background-color: #fff;
            mix-blend-mode: difference;
        }
    }
}

.cursor {
    width: 12px;
    height: 12px;
    border-radius: 100%;
    position: absolute;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: all 0.5s ease;
    transition-property: width, height !important;
    transform-origin: 100% 100%;
    display: block;
    z-index: 1500;
    background-color: #fff;
    mix-blend-mode: difference;
    display: none;
}

.loading {
    // overflow: hidden;
    // height: 100vh;
}

.preloader {
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    overflow: hidden;
    display: none;
    &.preloaderClose {
        transform: translateY(-100%);
        transition: all 0.8s;
    }
    .hero-title {
        color: #FFFFFF;
        display: flex;
        letter-spacing: 1.5vw;
    }
    .loadingTxt {
        color: #FFFFFF;
        position: absolute;
        right: -60px;
        bottom: -60px;
        svg {
            animation: rotating 20s linear infinite;
            fill: var(--white);
        }
    }
}

.hero-title,
.hero-title-sub {
    position: relative;
    white-space: nowrap;
    font-family: var(--bold-font);
    font-size: 6vw;
    letter-spacing: 2px;
}

.hero-title-sub {
    font-family: var(--bold-font);
    font-size: 56px;
    letter-spacing: 2px;
    &.secondary {
        position: relative;
        text-transform: uppercase;
        &::before {
            content: "ideas";
            text-transform: lowercase;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-family: var(--hand-writing-font);
            color: #f2f2f2;
            font-size: 160%;
            opacity: .8;
        }
    }
}

.glitch {
    position: relative;
    display: block;
    &:after,
    &:before {
        content: attr(data-text);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    &:before {
        left: 1px;
        text-shadow: -2px 0 #FFD500;
        clip: rect(24px, 550px, 90px, 0);
        animation: glitch-anim-2 6s infinite linear alternate-reverse;
    }
    &:after {
        left: -1px;
        text-shadow: -2px 0 #FF4A1C;
        clip: rect(85px, 550px, 140px, 0);
        animation: glitch-anim 5s infinite linear alternate-reverse;
    }
}

.outlineTxt {
    color: transparent;
    -webkit-text-stroke: 1px var(--text-color);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    // font-variant: small-caps;
    text-transform: uppercase;
}

.vLetter {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -10;
    &.top {
        --color-stop-2: #f2f2f2;
        --color-stop-1: #f9f9f9;
    }
    --color-stop-1: #f2f2f2;
    --color-stop-2: #f9f9f9;
    --color-stop-4: #eae2b7;
    --color-stop-3: #eae2b7;
    svg {
        width: 80%;
        height: 80%;
        path {
            fill: #fff;
            fill: url('#MyGradient');
            stroke: url('#MyGradient1');
            stroke-width: 1px;
            // animation: svgAnimate 5s ease-in-out;
        }
    }
}

@keyframes svgAnimate {
    0% {
        stroke-dashoffset: 2560.814453125;
    }
    100% {
        stroke-dashoffset: 0;
    }
}

.sliderLetter {
    .side {
        position: absolute;
        width: 50vw;
        top: 0;
        bottom: 0;
        z-index: 10;
        &.left {
            left: 0;
            &:hover {
                ~.heroTxt {
                    transform: matrix3d(1, 0, 0.34, -0.00005, 0, 1, 0, 0, -0.34, 0, 0.94, 0, 1, 0, 10, 1) translateX(30px);
                }
            }
        }
        &.right {
            right: 0;
            &:hover {
                ~.heroTxt {
                    transform: matrix3d(1, 0, 0.34, 0.00005, 0, 1, 0, 0, -0.34, 0, 0.94, 0, 1, 0, 10, 1) translateX(-30px);
                }
            }
        }
    }
}

.lineTxt {
    display: flex;
    align-items: center;
    // width: 88%;
    margin: 0px auto;
    margin-top: 40px;
    p {
        font-size: 12px;
        white-space: nowrap;
        letter-spacing: 2px;
        text-transform: uppercase;
    }
    .line {
        width: 100%;
        height: 2px;
        background-color: #db0f4f;
        margin-left: 12px;
    }
}

.scroll-down {
    position: fixed;
    top: 0;
    left: 60px;
    width: 100vh;
    transform: translate3d(0px, 0px, 0px) rotate(90deg);
    transform-origin: 0 0;
    span {
        display: block;
        transform: rotate(180deg);
        padding-left: 40px;
        text-transform: uppercase;
        font-size: 10px;
        font-weight: 600;
        letter-spacing: .14286rem;
    }
}

section {
    position: relative;
    min-height: 100vh;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    .heroTxt {
        // position: fixed;
        z-index: -9;
        perspective: 200px;
        transition: all 1.5s ease;
        .hero-title {
            letter-spacing: -2px;
            span {
                display: inline-block;
                &:hover {
                    color: transparent;
                    -webkit-text-stroke: 1px var(--text-color);
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                    text-rendering: optimizeLegibility;
                }
            }
        }
    }
}

.about {
    min-height: auto;
    padding: 80px 0px;
    .lineTxt {
        margin-top: 80px;
    }
    .aboutWrap {
        position: relative;
        padding: 60px 80px 100px;
        &::before {
            content: "";
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            transform: rotate(4deg);
            // background-color: var(--primary);
            transition: background .5s ease-in-out;
            -moz-transition: background .5s ease-in-out;
            -webkit-transition: background .5s ease-in-out;
            -webkit-transition-delay: .1s;
            transition-delay: .1s;
            // opacity: .4;
            z-index: -2;
            box-shadow: 0 -1px 52px -3px rgba(0, 0, 0, 0.1);
        }
        &::after {
            content: "";
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            border: solid 2px var(--primary);
            z-index: -1;
        }
        .aboutTxt {
            padding-left: 120px;
            div {
                margin-top: 28px;
                &.btnBox {
                    display: flex;
                    justify-content: end;
                    margin-top: 40px;
                    .btn {
                        border: solid 1px black;
                        border-radius: 0px;
                        margin: 0px 12px;
                        padding: 8px 36px;
                    }
                }
            }
            span {
                position: relative;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                white-space: nowrap;
                &::before {
                    content: attr(data-txt);
                    position: absolute;
                    opacity: 0;
                    transform: translateY(0px);
                    transition: all 0.5s;
                }
                &:hover {
                    &::before {
                        opacity: 1;
                        transform: translateY(-24px);
                    }
                }
                &::after {
                    content: "";
                    position: absolute;
                    background-color: var(--primary);
                    width: 100%;
                    height: 10px;
                    z-index: -1;
                    bottom: 2px;
                    opacity: .4;
                }
            }
        }
    }
}

.resume {
    padding: 160px 0px 80px;
    min-height: auto;
    .carousel {
        // width: 88%;
        margin: 0px auto;
        .arrow {
            display: flex;
            .carousel-control-next,
            .carousel-control-prev {
                margin: 0px 10px;
                position: relative;
                width: 60px;
                height: 60px;
                border: solid 1px var(--border-color);
                opacity: .4;
                .carousel-control-prev-icon,
                .carousel-control-next-icon {
                    background-image: url(../images/next.png);
                    background-size: 16px;
                }
                .carousel-control-prev-icon {
                    transform: rotate(180deg);
                }
                &:focus,
                &:hover,
                &:active {
                    border: solid 1px var(--border-color);
                }
            }
        }
    }
    .timeline-panel {
        text-align: right;
        b {
            font-size: 14px;
            font-family: var(--main-font-bold);
        }
        h5 {
            font-size: 24px;
            margin: 8px 0px;
        }
        p {
            font-size: 16px;
            margin-top: 24px;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            min-height: 100px;
            display: none;
        }
    }
}

.scrollingTxt {
    min-height: 360px;
    display: flex;
    align-items: center;
    .rotate {
        transform: rotate(-4deg);
        white-space: nowrap;
        .skills {
            animation: textleft linear infinite;
            animation-duration: 100s;
            font-size: 4rem;
            position: absolute;
            font-family: var(--bold-font);
            opacity: 0.6;
            span {
                margin: 0px 8px;
                &:nth-child(2n) {
                    color: var(--black);
                    opacity: 0.2;
                }
                // &.outlineTxt::first-letter {
                //     font-size: 10px;
                //     color: red !important;
                // }
            }
        }
    }
}

@-webkit-keyframes textleft {
    0% {
        transform: translateZ(0)
    }
    to {
        transform: translate3d(-50%, 0, 0)
    }
}

@keyframes textleft {
    0% {
        transform: translateZ(0)
    }
    to {
        transform: translate3d(-50%, 0, 0)
    }
}

.designProcess {
    min-height: auto;
    margin: 80px 0px 0px;
    padding: 80px 0px 160px;
    .designProcessBG {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 330px;
        z-index: -1;
        background-color: var(--primary);
    }
    .designProcessWrap {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        .designProcessBox {
            border-left: solid 1px;
            padding: 24px;
            padding-bottom: 80px;
            span {
                display: block;
                font-family: RammettoOne-Regular;
                font-size: 24px;
                position: relative;
            }
            P {
                margin-top: 24px;
            }
            svg {
                width: 80px;
                height: 80px;
            }
        }
    }
}

.project {
    min-height: auto;
    margin: 80px 0px;
    padding: 60px 0px 80px;
    display: none;
    &::before {
        position: absolute;
        content: '';
        width: 100%;
        max-width: 1140px;
        top: 0px;
        left: 50%;
        transform: translateX(-50%);
        height: 100%;
        background-color: #db0f4f;
        border-radius: 12px;
        z-index: -1;
    }
    .projectWrap {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 40px;
        .projectBox {
            background-color: var(--primary);
            width: 100%;
            height: 400px;
            border-radius: 12px;
            transition: all .4s;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 12px;
                transition: all .4s;
            }
            &:hover {
                transform: scale(1.04);
                img {
                    transform: perspective(1000px) scale(.9) rotateX(12deg) rotateY(0deg);
                    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
                    &.left {
                        transform: perspective(1000px) scale(.9) rotateX(10deg) rotateY(20deg);
                    }
                    &.right {
                        transform: perspective(1000px) scale(.9) rotateX(10deg) rotateY(-20deg);
                    }
                }
            }
        }
    }
    .hero-title-sub {
        margin-bottom: 40px;
    }
}

.contact {
    min-height: auto;
    // padding: 120px 0px 0px;
    .contactWrap {
        min-height: calc(100vh - 219px);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        // position: relative;
        .workTogether {
            // position: absolute;
            h1 {
                font-family: var(--bold-font);
                font-size: 3rem;
            }
        }
        .text {
            font-size: 100px;
            white-space: nowrap;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .phonemail {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            font-size: 40px;
            margin-top: 120px;
            span {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: all .2s;
                &.activeLink {
                    text-decoration: underline;
                }
            }
        }
    }
    .footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        // margin: 120px 0px 0px;
        padding: 60px 0px 80px;
        border-top: solid 1px rgba(0, 0, 0, 0.1);
        .socialIcons {
            margin: 24px 0px;
            a {
                padding: 0px 10px;
                margin: 0px 10px;
                opacity: 1;
            }
        }
        p {
            text-align: right;
        }
    }
}

[data-aos="designProcessBG"] {
    opacity: 0;
    transform: translateX(-100%);
    &.aos-animate {
        opacity: 1;
        transform: none;
    }
}

.circle {
    position: absolute;
    width: 00px;
    height: 00px;
    overflow: hidden;
    border-radius: 100%;
    // background-color: #A1DEFF;
    display: flex;
    justify-content: center;
    align-items: center;
    // display: none;
    // 
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: all 0.5s ease;
    transition-property: width, height !important;
    transform-origin: 100% 100%;
    z-index: 1501;
    // background-color: #fff;
    // 
    .logo {
        position: absolute;
        width: 40px;
        height: 40px;
        background: url(../images/logo_pic.png);
        background-size: cover;
        border-radius: 100%;
        // filter: brightness(1.5) contrast(1.5);
    }
    .text {
        position: absolute;
        width: 100%;
        height: 100%;
        animation: textRotate 7.5s linear infinite;
        text-transform: uppercase;
        font-family: var(--bold-font);
        font-size: 14px;
        @keyframes textRotate {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }
        span {
            position: absolute;
            left: 50%;
            // font-size: 12px;
            transform-origin: 0 50px;
        }
    }
}

.circleHide {
    .circle {
        display: flex;
        width: 100px;
        height: 100px;
    }
}

.sidebar {
    display: none;
    position: fixed;
    // width: 6.25vw;
    z-index: 1900;
    height: 100%;
    right: 0;
    top: 0;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #fff;
    ul {
        padding: 0;
        margin: auto;
        li {
            display: block;
            list-style: none;
            padding: 0;
            a {
                display: block;
                margin: 0 auto;
                padding: 15px 13px;
                position: relative;
                font-size: 12px;
                color: rgba(0, 0, 0, 1);
                div {
                    margin: auto;
                    writing-mode: vertical-lr;
                    -webkit-transform: rotate(180deg);
                    -moz-transform: rotate(180deg);
                    -ms-transform: rotate(180deg);
                    -o-transform: rotate(180deg);
                    transform: rotate(180deg);
                    -webkit-transition: all .5s cubic-bezier(0.6, 0, 0.5, 1);
                    -moz-transition: all .5s cubic-bezier(0.6, 0, 0.5, 1);
                    transition: all .5s cubic-bezier(0.6, 0, 0.5, 1);
                }
                &::after {
                    content: attr(data-text);
                    position: absolute;
                    right: -8px;
                    top: 0;
                    color: #000;
                    font-family: var(--bold-font);
                    font-size: 56px;
                    line-height: 66px;
                    -webkit-transform: translateX(100%);
                    -moz-transform: translateX(100%);
                    -ms-transform: translateX(100%);
                    -o-transform: translateX(100%);
                    transform: translateX(100%);
                    -webkit-transition: all .5s cubic-bezier(0.6, 0, 0.5, 1);
                    -moz-transition: all .5s cubic-bezier(0.6, 0, 0.5, 1);
                    transition: all .5s cubic-bezier(0.6, 0, 0.5, 1);
                }
                &:hover::after {
                    -webkit-transform: translateX(0);
                    -moz-transform: translateX(0);
                    -ms-transform: translateX(0);
                    -o-transform: translateX(0);
                    transform: translateX(0);
                }
            }
        }
    }
}

// .main {
//     height: 100vh;
//     overflow-y: auto;
//     scroll-snap-type: y mandatory;
//     -webkit-overflow-scrolling: touch;
// }
// section {
//     scroll-snap-align: start;
// }